<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57d4574b-2e1a-449d-9c43-68ae6bce6a49" Alias="Invariant Example - Reading Time Invariant Slim - ReadingTime Information" Level="1">
  <Info>
    <Name>Invariant Example - Reading Time Invariant Slim - ReadingTime Information</Name>
    <EditorAlias>jcdcdev.ReadingTime</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideVariationWarning": true,
  "Max": 1,
  "MaxUnit": 1,
  "Min": 1,
  "MinUnit": 1,
  "WordsPerMinute": 200
}]]></Config>
</DataType>