<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31769ba0-a894-4da7-af48-a5de1afbecf3" Alias="ReadingTime Information" Level="1">
  <Info>
    <Name>ReadingTime Information</Name>
    <EditorAlias>jcdcdev.ReadingTime</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideVariationWarning": false,
  "Max": 1,
  "MaxUnit": 1,
  "Min": 1,
  "MinUnit": 1,
  "WordsPerMinute": 200
}]]></Config>
</DataType>