@using jcdcdev.Umbraco.ReadingTime.Core.Extensions
@inherits UmbracoViewPage<Home>

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1">@Model.Name</h1>
            @if (Model.ReadingTime.IsValid())
            {
                <h2>
                    <i class="bi bi-clock me-2"></i>
                    @Umbraco.GetDictionaryValue("ReadingTime") @Model.ReadingTime.DisplayTime()
                </h2>
            }
            <div>
                @await Html.GetBlockGridHtmlAsync(Model.GridContent)
            </div>
        </div>
    </div>
</div>
