<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f075868-3599-45ee-aaca-6c99e15b8e55" Alias="Reading Time" Level="1">
  <Info>
    <Name>Reading Time</Name>
    <EditorAlias>jcdcdev.ReadingTime</EditorAlias>
    <EditorUIAlias>jcdcdev.ReadingTime</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideVariationWarning": false,
  "maxUnit": [
    "Minute"
  ],
  "minUnit": [
    "Minute"
  ],
  "wpm": 200
}]]></Config>
</DataType>