<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9631013e-2da7-40a7-8b5f-b9cbd3877eab" Alias="Base Page - Reading Time - ReadingTime Information" Level="1">
  <Info>
    <Name>Base Page - Reading Time - ReadingTime Information</Name>
    <EditorAlias>jcdcdev.ReadingTime</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Max": 2,
  "MaxUnit": 2,
  "Min": 1,
  "MinUnit": 1,
  "WordsPerMinute": 200
}]]></Config>
</DataType>