<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f6641f9-3ce1-419c-bbd6-4c035cd4b65e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-05-24T00:44:32</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
      <Name Culture="sv">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="9cc5eeb7-2398-4fdf-aaae-bd31045aba6f">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e6fe2e86-4f0b-47c1-b4ba-c4beb49943bc",
      "udi": "umb://element/0819a8327c5f44c5a97c689e8e8ae247",
      "richText": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EIf debugging is the process of removing bugs, then programming must be the process of putting them in. (Edsger W. Dijkstra) The most amazing achievement of the computer software industry is its continuing cancellation of the steady and staggering gains made by the computer hardware industry. (Henry Petroski) A hacker on a roll may be able to produce\\u0026ndash;in a period of a few months\\u0026ndash;something that a small development group (say, 7-8 people) would have a hard time getting together over a year. IBM used to report that certain programmers might be as much as 100 times as productive as other workers, or more. (Peter Seebach) It\\u0026rsquo;s not a bug \\u0026ndash; it\\u0026rsquo;s an undocumented feature. (Anonymous)\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0819a8327c5f44c5a97c689e8e8ae247",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>